{% if session.user_id %}
<p style="font-size: 15px; padding-left: 20px">Olet kirjautunut nimellä {{ session.username }}</p>
<hr>
{% endif %}

<b style="font-size: 20px; padding-left: 30px">topiikit</b><br>
{% for topic in topics %}
<a style="font-size: 20px; padding-left: 30px" href="/topic/{{ topic.id }}">{{ topic.title }}</a><br>
{% endfor %}
<br>
{% if session.user_id %}
<a href="/newtopic">Luo uusi keskustelu</a><br>
<a href="/logout">Kirjaudu ulos</a>

{% else %}
<a href="/login">Kirjaudu sisään</a><br>
<a href="/register">Luo uusi käyttäjätunnus</a>
{% endif %}
