<h3>Luo uusi keskustelu</h3>
{% if session.user_id %}
<form action="/newtopic" method="POST">
    <textarea name="title" rows="1" cols="40"></textarea><br>
    <textarea name="content" rows="4" cols="40"></textarea><br>
    <input type="submit" value="Luo"><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<a href="/">Palaa etusivulle</a>

{% else %}
<p>Et voi luoda uutta keskustelua sisään kirjautumatta</p>
<a href="/">Palaa etusivulle</a>
<a href="/login">Kirjaudu sisään</a>
{% endif %}
