<h2>{{ topic.title }}</h2><br>

{% for message in messages %}
<a style="font-size: 20px; padding-left: 40px"><b>{{ message.username }}</b></a><br>
<a style="font-size: 20px; padding-left: 25px">{{ message.content }}</a><br>
<i style="font-size: 12px; padding-left: 25px">{{ message.sent_at.strftime("%Y-%m-%d %H:%M") }}</i><br>
<br>
{% endfor %}
{% if session.user_id %}

<form action="/send" method="POST">
 <textarea name="content" rows="3" cols="40"></textarea><br>
 <input type="submit" value="Lähetä viesti"><br>
 <input type="hidden" name="topicid" value="{{ topic.id }}">
 <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<a href="/">Palaa etusivulle</a>
